# 
# Render Helm Cahrt
#

name: simple-chat - render list.yaml

on:
  push:
    branches: 
      - '**'
    paths:
      - simple-chart/**
      - .github/workflows/simple-chart*
  workflow_dispatch:

jobs:

  render-list:
    runs-on: ubuntu-latest
    steps:
      # Check-out repo under $GITHUB_WORKSPACE
      - uses: actions/checkout@v3

      - name: Render list
        run: helm template simple-chart -s templates/list.yaml

  render-json-value:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Render JSON from environment varriable
        run: |
          helm template simple-chart -s templates/env.yaml --set env.solution_4='"ernie": "123"'

  render-pod-with-shell-command:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Render sh -c commands
        run: |
          helm template simple-chart -s templates/pod.yaml
